---
import ExcelFormulaTester from './../components/FormulaTester.jsx';
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Testeur de formules Excel</title>
        <meta name="descriptoin" content="Testez, diagnostiquez et analysez vos formules Excel." />
    </head>
    <body>
        <ExcelFormulaTester client:load />
    </body>
</html>